<!DOCTYPE html>
<html lang="en">
<head>
    <title>tim winfred = ["Web Developer", "Entrepreneur", "Digital Marketer", "Designer"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Full-stack freelance web programmer, software developer and designer in Los Angeles, California.">
    <meta name="keywords" content="tim winfred, timothy winfred, full stack, web, software, developer, programmer, freelance, full-stack, web programmer, web developer, software developer, software programmer, web designer, back-end, front-end, back-end developer, front-end programmer, timwinfred.com, timwinfred, timothywinfred.com timothywinfred">
    <meta property="og:site_name" content="TimWinfred.com">
    <meta property="og:url" content="http://www.timwinfred.com">
    <meta property="og:title" content='tim winfred = ["Web Developer", "Entrepreneur", "Digital Marketer", "Designer"]'>
    <meta property="og:description" content="Full-stack freelance web programmer, software developer and designer in Los Angeles, California.">
    <meta property="og:image" content="/img/tim_professional_photo_fb.jpg">
    <meta property="og:image:width" content="630">
    <meta property="og:image:height" content="330">
    <meta property="og:type" content="website">
    <meta name="twitter:site" content="timwinfred">
    <meta name="twitter:url" content="http://www.timwinfred.com">
    <meta name="twitter:title" content='tim winfred = ["Web Developer", "Entrepreneur", "Digital Marketer", "Designer"]'>
    <meta name="twitter:description" content="Full-stack freelance web programmer, software developer and designer in Los Angeles, California.">
    <meta name="twitter:card" content="summary">
    <meta name="title" content='tim winfred = ["Web Developer", "Entrepreneur", "Digital Marketer", "Designer"]'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <audio id="click" src="/click.mp3" preload="auto"></audio>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const click = document.getElementById('click');
            // Side Nav
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            var instance = M.Sidenav.getInstance(elems);

            // Top Nav & Next Bar
            var location = 0;
            var tooltipCount = 0;
            $(window).scroll(function(){
                location = $(window).scrollTop()
                if(location > 160){
                    $('.next-bar').show();
                    $('.sticky-nav').slideDown('fast', function(){
                        $('.sticky-logo').fadeIn('fast');
                        $('.sticky-menu').fadeIn('fast');
                        if(!statusBox && !chatBox){
                            $('.status-icon').fadeIn('fast', function(){
                            if(tooltipCount == 0){
                                $('.online-tooltip').fadeIn('fast');
                            }
                        })
                        }
                        $('.top-logo').fadeOut('fast');
                        $('.top-menu').fadeOut('fast');
                        function hideOnlineTooltip(){
                            $('.online-tooltip').fadeOut('fast', function(){
                                tooltipCount++;
                            });
                        }
                        if(tooltipCount == 0){
                            setTimeout(function(){
                                hideOnlineTooltip();
                            }, 6000);
                        }
                    });
                }
                if(location < 100){
                    $('.next-bar').fadeOut('fast');
                    $('.sticky-logo').fadeOut('fast');
                    $('.sticky-menu').fadeOut('fast');
                    $('.online-tooltip').fadeOut('fast');
                    $('.status-icon').fadeOut('fast');
                    $('.sticky-nav').slideUp('fast', function(){
                        $('.top-logo').show('fast');
                        $('.top-menu').fadeIn('fast');
                    });
                }
            })
            // MTG API Eater Egg
            $(document).on('click', '.profile-photo', function(){
                $.get("https://api.scryfall.com/cards/random", function(data) {
                    $('.profile-photo').css('height', )
                    $('.profile-photo').attr('src', data.image_uris.art_crop);
                })
                
            })
            // Char Count on Forms
            $(document).ready(function() {
                $('textarea#message').characterCounter();
            });
            // Offline Mail Button
            var statusBox = false;
            $(document).on('click', '.offline-status', function(){
                statusBox = true;
                $('.offline-status').hide(function(){
                    $('.offline-box').show('slide', { direction: 'right' });
                });
                $('.online-tooltip').hide();
            })
            $(document).on('click', '.offlineBtn', function(){
                $('.offline-box').hide(function(){
                    $('.offline-status').show();
                    errMsg = [];
                })
                statusBox = false;
            })

            // Offline Form Validation
            var email_reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            $(document).on('click', '.offlineSubmitBtn', function(){
                var errMsg = [];

                if($('#email').val().length < 1 || !email_reg.test($('#email').val()) || $('#name').val().length < 1 || $('#name').val().length < 3 || $('#message').val().length < 1 || $('#message').val().length < 5){
                    if($('#email').val().length < 1){
                        errMsg.push("An email is required.")
                    }else if(!email_reg.test($('#email').val())){
                        errMsg.push("Your email isn't the correct format.")
                    }
                    if($('#name').val().length < 1){
                        errMsg.push("A name is required.")
                    }else if($('#name').val().length < 3){
                        errMsg.push("Your name is too short.")
                    }
                    if($('#message').val().length < 1){
                        errMsg.push("A message is required.")
                    }else if($('#message').val().length < 5){
                        errMsg.push("Your message is too short.")
                    }
                    for(var x in errMsg){
                        $('.errMsg').append(errMsg[x]+"&nbsp;&nbsp;")
                    }
                }else{
                    $('#emailForm').submit();
                }
            })
            // SOCKET Connection
            var socket = io.connect();
            var socketId;
            socket.on('connect', function(){
                socketId = socket.id;
                console.log(socket.id);
            })
            // Online Chat Button
            var chatBox = false;
            $( function() {
                $( ".dialog" ).dialog({autoOpen: false});
            } );

            $(document).on('click', '.online-status', function(){
                $( ".dialog" ).dialog('open');
            })
            
            var chatErrs = [];
            $(document).on('click', '.startChatBtn', function(){
                if($('#chat_email').val().length < 1 || !email_reg.test($('#chat_email').val()) || $('#chat_first_name').val().length < 1 || $('#chat_first_name').val().length < 2 || $('#chat_last_name').val().length < 1 || $('#chat_last_name').val().length < 2 || $('#chat_message').val().length < 1 || $('#chat_message').val().length < 5){
                    if($('#chat_email').val().length < 1){
                        chatErrs.push("An email is required.")
                    }else if(!email_reg.test($('#chat_email').val())){
                        chatErrs.push("Your email isn't the correct format.")
                    }
                    if($('#chat_first_name').val().length < 1){
                        chatErrs.push("A first name is required.")
                    }else if($('#chat_first_name').val().length < 2){
                        chatErrs.push("Your first name is too short.")
                    }
                    if($('#chat_last_name').val().length < 1){
                        chatErrs.push("A last name is required.")
                    }else if($('#chat_last_name').val().length < 2){
                        chatErrs.push("Your last name is too short.")
                    }
                    if($('#chat_message').val().length < 1){
                        chatErrs.push("A message is required.")
                    }else if($('#chat_message').val().length < 5){
                        chatErrs.push("Your message is too short.")
                    }
                    for(var x in chatErrs){
                        $('.chatErrs').append(chatErrs[x]+"&nbsp;&nbsp;")
                    }
                }else{
                    $.ajax({
                        url: '/api/chats',
                        type: 'POST',
                        data: {
                            chat_email: $('#chat_email').val(),
                            chat_first_name: $('#chat_first_name').val(),
                            chat_last_name: $('#chat_last_name').val(),
                            chat_message: $('#chat_message').val(),
                            chat_socket: socketId,
                        },
                        success: function(result){
                            if(result['message'] == "Success"){
                                let chat_id = result['data'][0]['_id'];
                                socket.emit('new_chat', chat_id, socketId, function(){
                                    click.play();
                                    $( ".dialog" ).dialog('close')
                                    $('.online-tooltip').fadeOut('fast');
                                    $('.status-icon').fadeOut('fast', function(){
                                        $('.online-box').show('slide', { direction: 'right' });
                                        $('#chat_email').val('');
                                        $('#chat_first_name').val('');
                                        $('#chat_last_name').val('');
                                        $('#chat_message').val('');
                                    });
                                    chatBox = true;
                                })
                            }
                        }
                    });
                }
            })
            const color = getColor();
            function getColor() {
                var letters = 'BCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * letters.length)];
                }
                return color;
            }

            socket.on('chat_messages', function(messages){
                click.play();
                console.log('Got messages from server!', messages);
                let chatMessages = '';
                for(x in messages){
                    console.log(x)
                    if(messages[x].user == "AdminTim"){
                        chatMessages += "<div class='messageHolder' style='text-align: right'><p style='background-color: "+ color +"'><span style='font-weight: bold'>Tim:</span> "+ messages[x].content +"</p></div>"
                    }else{
                        chatMessages += "<div class='messageHolder'><p style='background-color: #95cbd3'><span style='font-weight: bold'>You:</span> "+ messages[x].content +"</p></div>"
                    }
                }
                $('.chat-wrapper').html(chatMessages);
            })

            $(document).on('click', '.onlineSubmitBtn', function(){
                let msg = $('.chat_text').val();
                socket.emit('send_msg', socketId, msg);
                $('.chat_text').val('');
            })

            // socket.on('new_msg')

            $(document).on('click', '.onlineBtn', function(){
                $('.online-box').hide(function(){
                    $('.online-status').show();
                    chatErrs = [];
                })
                chatBox = false;
            })
        });
    </script>
</head>
<body>
    <header>
        <!-- Top Nav -->
        <nav class="transparent z-depth-0 top-nav">
            <div class="nav-wrapper">
                <a href="/"><img class="brand-logo center hide-on-small-only top-logo" src="/img/tim-winfred-logo.png" alt="tim winfred"></a>
                <a href="/"><img class="brand-logo center hide-on-med-and-up small-logo top-logo" src="/img/tim-winfred-logo.png" alt="tim winfred logo"></a>
                <i data-target="slide-out" class="material-icons teal-icon teal-icon-large left hide-on-small-only sidenav-trigger top-menu">menu</i>
                <i data-target="slide-out" class="material-icons teal-icon teal-icon-small left hide-on-med-and-up sidenav-trigger top-menu">menu</i>
            </div>
        </nav>
        <!-- Sticky Nav -->
        <nav class="z-depth-0 sticky-nav" style="display: none">
            <div class="nav-wrapper">
                <a href="/"><img class="brand-logo center hide-on-small-only sticky-logo" src="/img/tim-winfred-logo.png" alt="tim winfred" style="display: none"></a>
                <a href="/"><img class="brand-logo center hide-on-med-and-up small-logo sticky-logo" src="/img/tim-winfred-logo.png" alt="tim winfred logo" style="display: none"></a>
                <i data-target="slide-out" class="material-icons teal-icon teal-icon-large left hide-on-small-only sidenav-trigger sticky-menu" style="display: none">menu</i>
                <i data-target="slide-out" class="material-icons teal-icon teal-icon-small left hide-on-med-and-up sidenav-trigger sticky-menu" style="display: none">menu</i>
            </div>
        </nav>
        <!-- Slide Out Nav -->
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
                <img class="menu-logo center" src="/img/tim-winfred-logo.png" alt="tim winfred logo">
            </div></li>
            <li><a class="waves-effect" href="/projects"><i class="material-icons">devices</i>Projects</a></li>
            <li><a class="waves-effect" href="/experience"><i class="material-icons">work</i>Experience</a></li>
            <li><a class="waves-effect" href="/about"><i class="material-icons">person</i>About Me</a></li>
            <li><a class="waves-effect" href="/contact"><i class="material-icons">email</i>Contact</a></li>
            <li><div class="divider"></div></li>
            <li>
                <a class="left waves-effect social-link" href="https://www.linkedin.com/in/timothywinfred/" target="_blank"><img class="social-logo" src="/img/linkedin.png" alt="linkedin"></a>
                <a class="left waves-effect social-link" href="https://github.com/twinfred" target="_blank"><img class="social-logo" src="/img/github.png" alt="github"></a>
                <a class="left waves-effect social-link" href="https://twitter.com/timwinfred/" target="_blank"><img class="social-logo" src="/img/Twitter.png" alt="twitter"></a>
                <a class="left waves-effect social-link" href="mailto:timwinfred@gmail.com"><img class="social-logo" src="/img/email.png" alt="email"></a>
            </li>
        </ul>
    </header>
    <main>
        <!-- Profile Photo & Description-->
        <div class="center main-photo">
            <!-- Desktop Photo -->
            <img class="circle profile-photo professional-photo z-depth-3 hide-on-med-and-down" src="/img/tim_professional_photo.jpg" alt="tim winfred">
            <!-- Tablet Photo -->
            <img class="circle profile-photo professional-photo z-depth-3 hide-on-med-and-down professional-photo-med" src="/img/tim_professional_photo.jpg" alt="tim winfred">
            <!-- Mobile Photo -->
            <img class="circle profile-photo professional-photo-small z-depth-2 hide-on-med-and-up" src="/img/tim_professional_photo.jpg" alt="tim winfred">
            <div class="site-title row">
                <div class="col s1 m1 l2"></div>
                <h4 class="col s10 m10 l8 center hide-on-small-only">tim = "Full-Stack Web Developer"</h4>
                <h5 class="col s10 m10 l8 center hide-on-med-and-up">tim = "Full-Stack Web Developer"</h5>
                <div class="col s1 m1 l2"></div>
            </div>
        </div>
        <!-- Recent Projects -->
        <h5 class="center section-head">Recent Projects:</h5>
        <div class="row recent-projects">
            <a href="http://magicreviewer.com" target="_blank">
                <div class="col s12 m6 l3">
                    <div class="card teal-card projectCard">
                        <div class="card-image">
                            <img src="img/magic_reviewer.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title white-text">Magic Reviewer</span>
                            <p class="project-details white-text">Gamified web application using the Scryfall API in which users review Magic: The Gathering playing cards and earn points for each review.</p>
                            <div class="divider"></div>
                            <p class="project-languages white-text">Java - Spring - Tomcat - MySQL - Bootstrap - JavaScript - HTML5 - CSS3 - APIs &amp; Ajax</p>
                            <p class="project-languages white-text right-align"><a class="white-text underline" href="http://magicreviewer.com" target="_blank">Visit Site</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="white-text underline" href="https://github.com/twinfred/SpringBoot/tree/master/magicreviewer" target="_blank">View Code</a></p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://borrowkingdom.com" target="_blank">
                <div class="col s12 m6 l3">
                    <div class="card teal-card projectCard">
                        <div class="card-image">
                            <img src="img/borrow_kingdom.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title white-text">Borrow Kingdom</span>
                            <p class="project-details white-text">Share economy-inspired web application where users rent tangible items from other users for a flat daily rate, processed using the Stripe API.</p>
                            <div class="divider"></div>
                            <p class="project-languages white-text">Python - Django - MySQL - HTML5 - CSS3</p>
                            <p class="project-languages white-text right-align"><a class="white-text underline" href="http://borrowkingdom.com" target="_blank">Demo Video</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="white-text underline" href="https://github.com/twinfred/BorrowKingdom" target="_blank">View Code</a></p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://github.com/twinfred/TimWinfred_Express" target="_blank">
                <div class="col s12 m6 l3">
                    <div class="card teal-card projectCard">
                        <div class="card-image">
                            <img src="img/tim_winfred_website.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title white-text">My Portfolio Site</span>
                            <p class="project-details white-text">Web development portfolio website, with a real-time chat feature that allows users to contact the site admin when they are online.</p>
                            <div class="divider"></div>
                            <p class="project-languages white-text">Node.js - Express.js - Socket.io - EJS - MongoDB - JavaScript - HTML5 - CSS3</p>
                            <p class="project-languages white-text right-align"><a class="white-text underline" href="https://github.com/twinfred/TimWinfred_Express" target="_blank">View Code</a></p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://pawprintfashion.com" target="_blank">
                    <div class="col s12 m6 l3">
                        <div class="card teal-card projectCard">
                            <div class="card-image">
                                <img src="img/pawprint_fashion.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title white-text">Pawprint Fashion</span>
                                <p class="project-details white-text">Print-on-demand eCommerce website that sells animal-inspired merchandise using the WooCommerce and Printful APIs. </p>
                                <div class="divider"></div>
                                <p class="project-languages white-text">Wordpress - HTML5 - CSS3 - APIs </p>
                                <p class="project-languages white-text right-align"><a class="white-text underline" href="https://pawprintfashion.com" target="_blank">Visit Site</a></p>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </main> 
    <footer>
        <!-- Jump To -->
        <h5 class="center section-head">Jump To:</h5>
        <div class="row jump-to">
            <a href="/projects">
                <div class="col s6 m6 l3">
                    <div class="card orange-card">
                        <div class="card-content center project-content">
                            <h6 class="white-text">All Projects</h6>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/experience">
                <div class="col s6 m6 l3">
                    <div class="card orange-card">
                        <div class="card-content center project-content">
                            <h6 class="white-text">Experience</h6>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/about">
                <div class="col s6 m6 l3">
                    <div class="card orange-card">
                        <div class="card-content center project-content">
                            <h6 class="white-text">About Me</h6>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/contact">
                <div class="col s6 m6 l3">
                    <div class="card orange-card">
                        <div class="card-content center project-content">
                            <h6 class="white-text">Contact</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Footer Push -->
        <div class="footer-push"></div>
        <!-- Up Next -->
        <a href="/experience">
            <div class="next-bar waves-effect" style="display: none">
                <div class="next-text">
                    <h6>Up Next: <span style="font-weight: bold" class="white-text">Experience&nbsp;</span></h6>
                    <p><i class="material-icons next-arrow">arrow_forward</i></p>
                </div>
            </div>
        </a>
        <!-- Chat Available -->
        <% if(online){ %>
            <div class="status-icon circle green valign-wrapper online-status" style="display: none">
                <div class="horizAlign">
                    <i class="material-icons next-arrow white-text small">chat_bubble</i>
                </div>
            </div>
            <div class="online-tooltip valign-wrapper" style="display: none">
                <p class="white-text">Tim's online! Send him a chat message.</p>
            </div>
            <div class="dialog" title="Start a Chat with Tim...">
                <form id="startChat">
                    <input type="email" name="_replyto" id="chat_email" class="validate" placeholder="Email">
                    <input type="text" name="first_name" id="chat_first_name" class="validate" placeholder="First Name">
                    <input type="text" name="last_name" id="chat_last_name" class="validate" placeholder="Last Name">
                    <textarea name="message" id="chat_message" class="validate materialize-textarea" placeholder="First message..." data-length="280" minlength="1" maxlength="280"></textarea>
                </form>
                <p class="chatErrs errorMsg"></p>
                <button class="btn waves-effect submitBtn startChatBtn">Start Chat</button>
            </div>
            <div class="online-box" style="display: none">
                <div class="chat-wrapper"></div>
                <div class="chat-msg">
                    <textarea name="chat" id="chat" class="chat_text" placeholder="Type a message..."></textarea>
                </div>
                <p class="errMsg errorMsg"></p>
                <button class="btn-small waves-effect submitBtn onlineSubmitBtn right"><i class="material-icons next-arrow white-text small">send</i></button>
                <a href="#!"><p class="left-align onlineBtn">Close</p></a>
            </div>
        <!-- Chat Unavailable -->
        <% }else{ %>
            <div class="status-icon circle blue valign-wrapper offline-status" style="display: none">
                <div class="horizAlign">
                    <i class="material-icons next-arrow white-text small">email</i>
                </div>
            </div>
            <div class="online-tooltip valign-wrapper" style="display: none">
                <p class="white-text">Would you like to send Tim a message?</p>
            </div>
            <div class="offline-box" style="display: none">
                <form action="https://formspree.io/timwinfred@gmail.com" method="POST" id="emailForm">
                    <input type="email" name="_replyto" id="email" class="validate" placeholder="Email">
                    <input type="text" name="name" id="name" class="validate" placeholder="Name">
                    <textarea name="message" id="message" class="validate materialize-textarea" placeholder="Message" data-length="280" minlength="1" maxlength="280"></textarea>
                </form>
                <p class="errMsg errorMsg"></p>
                <button class="btn waves-effect submitBtn offlineSubmitBtn">Send Message</button>
                <a href="#!"><p class="right-align offlineBtn">Close</p></a>
            </div>
        <% } %>
    </footer>
</body>
</html>