/* MY CSS */
h1, h2, h3, h4, h5, h6, p, div, span, ol, ul, li, textarea, input, button, a, blockquote, caption, table, tbody, thead, tfoot, tr, th, td, select, option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c2c2c;
}
p {
    line-height: 1.5;
}
input, textarea, select {
    margin-bottom: 4px;
}
.bold {
    font-weight: bold;
}
.orange-text {
    color: #e37222;
}
.submitBtn {
    background-color: #07889b !important;
}
.teal-icon-large {
    color: #07889b;
    font-size: 40px !important;
}
.teal-icon-small {
    color: #07889b;
    font-size: 30px !important;
}
.teal-icon:hover {
    cursor: pointer;
}
.brand-logo {
    width: 200px;
    padding-top: 30px !important;
}
.small-logo {
    width: 140px;
}
.top-nav, top-nav-space {
    padding: 10px 0px 10px 0px;
    height: 140px !important;
}
header {
    margin-bottom: 55px;
}
.menu-logo {
    height: 70px;
    margin: 0 auto;
}
.social-logo {
    width: 40px;
}
.social-logo:hover {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.social-link {
    margin-top: 10px;
    padding: 10px 11px !important;
    height: 60px !important;
}
.social-link:first-child {
    margin-left: 22px!important;
}

.main-photo {
    background:
        linear-gradient(
            rgb(255, 255, 255) 10%, 
            #ffffff00,
            rgb(255, 255, 255) 95% 
        ),
        url('img/downtow-los-angeles.jpg');
    background-size: cover;
    padding: 20px 0px 180px 0px;
}
.main-photo-small {
    background:
        linear-gradient(
            rgb(255, 255, 255) 10%, 
            #ffffff00,
            rgb(255, 255, 255) 95% 
        ),
        url('img/downtow-los-angeles.jpg');
    background-size: cover;
    padding: 10px 0px 120px 0px;
    margin-top: 5px;
}
.professional-photo {
    width: 25%;
    border: 4px solid white;
}
@media screen and (min-width: 993px){
    .professional-photo-med {
        display: none;
    }
    .projectCard {
        min-height: 505px;
    }
}
@media screen and (max-width: 600px){
    .professional-photo-med {
        display: none;
    }
}
@media screen and (max-width: 992px) and (min-width: 601px){
    .professional-photo-med {
        display: block !important;
        margin: 0px auto !important;
        width: 35%;
        border: 4px solid white;
    }
    .projectCard {
        min-height: 578px;
    }
}
.professional-photo-small {
    width: 50%;
    border: 4px solid white;
}
.site-title {
    margin-top: 20px;
}
.site-title h4, .site-title h5, .glow-txt {
    color: #2c2c2c;
    text-shadow: white 0px 0px 20px, white 0px 0px 20px, white 0px 0px 20px, white 0px 0px 20px;   
}
.site-title h4 {
    font-size: 2.6rem !important;
}

/* STICKY TOP */
.sticky-nav {
    padding: 10px 0px 10px 0px;
    height: 85px !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.959) !important;
    box-shadow: #c7c7c7 0px 0px 12px !important;
    z-index: 99;
}
.sticky-logo {
    width: 100px;
    padding-top: 6px !important;
}

/* NEXT BAR */
.next-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 214px;
    height: 45px;
    background-color: #07889b;
    padding-left: 13px;
    box-shadow: #747474 0px 0px 12px;
}
.next-text h6 {
    color: white;
    margin-top: 12px;
    display: inline-block;
    vertical-align: top;
}   
.next-text p {
    color: white;
    margin-top: 10px;
    display: inline-block;
}
.footer-push {
    height: 80px;
    width: 100%;
}

/* Recent Projects */
.section-head {
    color: #e37222;
}
.recent-projects {
    margin-bottom: 50px !important;
}
@media screen and (min-width: 993px) {
    .recent-projects {
        margin: 0px 8%;
    }
}
.teal-card {
    background-color: #07889b !important;
}
.card:hover {
    box-shadow: #747474 0px 0px 12px !important;
}
.project-details {
    margin-bottom: 18px !important;
}
.project-languages {
    margin-top: 18px !important;
    margin-bottom: 0px !important;
    font-size: .8rem !important;
}
.underline {
    text-decoration: underline;
}

/* Education & Training + Professional Experience */
.secondaryP {
    margin-top: 18px !important;
}

.exp-photo {
    background-image: 
        linear-gradient(
            rgb(255, 255, 255) 20%, 
            #ffffff00,
            rgb(255, 255, 255) 90% 
        ),
        url('img/StockSnap_EAVNVUIK49.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glow-txt {
    text-shadow: white 0px 0px 20px, white 0px 0px 20px, white 0px 0px 20px, white 0px 0px 20px;
    color: #2c2c2c;
}

/* About Me */
.image-caption {
    font-size: 12px;
    text-align: center;
}
.card-caption {
    padding: 5px !important;
}
.about-photo {
    background-image: 
        linear-gradient(
            rgb(255, 255, 255) 20%, 
            #ffffff00,
            rgb(255, 255, 255) 90% 
        ),
        url('img/great-salt-lake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Contact */
.contact-photo {
    background-image: 
        linear-gradient(
            rgb(255, 255, 255) 20%, 
            #ffffff00,
            rgb(255, 255, 255) 90% 
        ),
        url('img/santa-monica-mountain-dog-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.status-icon-contact {
    bottom: 30px !important;
}

.online-tooltip-contact {
    bottom: 43px !important;
}

/* Jump To */
@media screen and (min-width: 993px) {
    .jump-to {
        margin: 0px 8%;
    }
}
.orange-card {
    background-color: #e37222 !important;
    color: white;
}
.project-content {
    padding: 10px !important;
}

/* Chat/Email Status */
.status-icon {
    height: 60px;
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 65px;
    z-index: 98;
}
.status-icon:hover {
    box-shadow: #747474 0px 0px 12px !important;
    cursor: pointer;
}
.horizAlign {
    margin: 3px auto 0px auto;
}
.online-tooltip {
    height: 35px;
    width: 285px;
    position: fixed;
    right: 84px;
    bottom: 78px;
    background-color: #747474d7;
}
.online-tooltip p {
    width: 100%;
    text-align: center;
}
.online-box, .offline-box {
    width: 300px;
    position: fixed;
    right: 0;
    bottom: 55px;
    background-color: #ffffffd7;
    box-shadow: #747474 0px 0px 12px !important;
    padding: 15px;
    z-index: 100;
}
.online-box {
    height: 300px;
}
.chat-wrapper, .chat-msg {
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    padding: 6px;
    box-shadow: #cecece 0px 0px 8px inset !important;
}
.chat-wrapper {
    height: 160px;
    overflow-y: auto;
}
.chat-msg {
    height: 68px;
}
.online-box a p {
    color: #e37222 !important;
    margin-top: 10px;
}
.messageHolder p {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 3px;
}
.messageHolder {
    margin-bottom: 4px;
    flex: 1;
}
.chat-msg textarea {
    border: none;
    resize: none;
    height: 56px;
    box-shadow: none;
    outline: none;
}
.ui-dialog {
    background-color: rgba(255, 255, 255, 0.938);
    padding: 15px;
    box-shadow: #747474 0px 0px 12px !important;
    z-index: 100;
}
.ui-dialog-titlebar {
    height: 23px;
}
.ui-dialog-title {
    font-size: 18px;
    font-weight: bold;
    color: #e37222;
}
.ui-dialog-titlebar-close {
    float: right;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    border-radius: 2px;
    padding: 0px 5px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 22px;
    width: 60px;
    line-height: 22px;
    font-size: 13px;
    color: #2c2c2c;
    /* background-color: #07889b !important; */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.dialog p {
    margin-top: 8px;
    color: #747474;
}
.offline-box form textarea {
    font-size: 13px;
}
.offline-box button {
    margin-top: 12px;
}
.offline-box a p {
    color: #e37222 !important;
}

/* Login Form */
.login-form {
    margin-top: 40px;
}
.errorMsg {
    margin: 0px 0px 5px 0px;
    font-size: 12px;
    font-style: italic;
    color: red !important;
}
/* Admin */
.brand-logo-admin {
    width: 120px;
    padding-top: 20px !important;
}
.chat-box {
    width: 120px;
    height: 45px;
    margin: 0px auto;
}
.chat-box:hover {
    box-shadow: #747474 0px 0px 12px !important;
    cursor: pointer;
}
.chat-box p {
    text-align: center;
    width: 100%;
}
.note {
    font-size: 12px;
}

/* Form Placeholder Text */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #07889b;
    font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #07889b;
    font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #07889b;
    font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
    color: #07889b;
    font-size: 16px;
}